.card{
  border: dashed 2px greenyellow;
  background-color: #d6c8c8;
  padding: 1em;
  border-radius: 4px;
  width: 30%;
  color: #242424;
  transition: transform 0.3s ease; 
}
.card:hover {
  filter: sepia(33%);
  transform: rotateY(10deg) rotateX(10deg);
}
